:root {
	--background-12AM-4AM: linear-gradient(to top, #2b5876 0%, #4e4376 100%);
	--background-4AM-8AM: linear-gradient(to bottom, #667eea 0%, #764ba2 100%);
	--background-8AM-12PM: linear-gradient(to bottom, #7DE2FC 0%, #B9B6E5 100%);
	--background-12PM-4PM: linear-gradient(to top, #0acffe 0%, #495aff 100%);
	--background-4PM-8PM: linear-gradient(to bottom, #f9d423 0%, #ff4e50 100%);
	--background-8PM-12AM: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);

	--default-color: #f1f1f1;
}

body, html {
	font-size: 16px;
	color: var(--default-color);
}
ul {
	list-style: none;
}
/* main */
.background {
	width: 100%;
	min-height: 100vh;
	background-color: royalblue;
}
.background.bgcolor1 {
	background-image: var(--background-12AM-4AM)
}
.background.bgcolor2 {
	background-image: var(--background-4AM-8AM)
}
.background.bgcolor3 {
	background-image: var(--background-8AM-12PM)
}
.background.bgcolor4 {
	background-image: var(--background-12PM-4PM)
}
.background.bgcolor5 {
	background-image: var(--background-4PM-8PM)
}
.background.bgcolor6 {
	background-image: var(--background-8PM-12AM)
}

.weahter_all {
	width: 90%;
	margin: auto;
	/* border: 1px solid rebeccapurple; */
}
.weather_all .weather_title {
}
.weather_all .weather_title .title {
	margin: 0;
	padding: .5em;
	text-align: center;
	text-decoration: underline;
}
.weather_all .weatherAndmap {
	display: flex;
	justify-content: space-around;
}
.weatherAndmap .weather_info {
	width: 48%;
	/* border: 1px solid red; */
}
.weatherAndmap .map {
	width: 48%;
}
.weatherAndmap .map img {
	width: 100%;
}
.background .footer {
	text-align: center;
}

/* mobile header */
.mobile_header {
	width: 100%;
	background-color: #ede7f6;
	display: flex;
	justify-content: space-between;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
	display: none;
}
.mobile_header .mobile_title {
	margin: 0;
	padding: .5rem;
	font-size: 1em;
}
.mobile_header .mobile_title .dan {
	
}
.mobile_header .btn_mobile_map {
	border: none;
	border-radius: 30%;
	background-color: #d2b5ff;
	margin: .25rem;
}

